
<%- include('header') %>

  <main>
    <div class="grid-row">
      <% mydata.forEach(thing => { %>
         <div class="grid-item">
         <p> <%= thing.title.slice(0,30) %></p>
        <a class = "button" href ="<%= thing.url %>">Buy</a>
      </div>
     <% }); %>
     

    </div>
  </main>

  <%- include('footer') %>
</body>

</html>